<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
        </div>
        <div>
            <a class="navbar-brand brand-logo" href="{% url 'home' %}">
                <img src="images/logo.svg" alt="logo"/>
            </a>
            <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}">
                <img src="images/logo-mini.svg" alt="logo"/>
            </a>
        </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
            <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                <h1 class="welcome-text"><span class="text-black fw-bold">Fahrraddiebstahl Berlin</span></h1>
                <h3 class="welcome-sub-text">Erfahre, wann und wo dein Fahrrad gestohlen wurde.</h3>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown d-none d-lg-block">
                <a role="button" class="btn btn-sm btn-dark btn-icon-text" href="https://github.com/janlemcke/Fahrraddiebstahl">
                    <i class="mdi mdi-github btn-icon-prepend"></i>
                    GitHub
                </a>
                <a role="button" class="btn btn-sm btn-twitter btn-icon-text">
                    <i class="mdi mdi-twitter btn-icon-prepend"></i>
                    Twitter
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>