<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large mdi-view-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item nav-category">Nach Datum / Uhrzeit</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Delikt</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Erfassungsgrund</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Fahrradtypen</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Schadenshöhe</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Versuche</span>
            </a>
        </li>
        <li class="nav-item nav-category">Weiteres</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'data' %}">
                <i class="mdi mdi-database menu-icon"></i>
                <span class="menu-title">Daten</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Datenschutzhinweise</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Impressum</span>
            </a>
        </li>
    </ul>
</nav>